/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background: green;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 1000;
}

.modal-content {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.background-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.background-img {
  width: 100%;
  border-radius: 5px;
}

.error {
  color: red;
  font-weight: bold;
}





 */


/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background: green;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 10000;
}

.modal-content {
  text-align: center;
} */

/* .modal {
        position: fixed;
        top: 20px;
        right: 20px;
        max-width: 300px;
      }

      .msgBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        margin: 10px 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        font-size: 1rem;
        animation: fadeIn 0.5s ease-in-out;
      } */

/* .modal[ng-reflect-ng-if="true"] {
  display: block;
} */


.modal-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 10000;
    
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.modal-content {
    text-align: center;
    z-index: 10000;
}

.modal button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.modal button:hover {
    background-color: #0056b3;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.background-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.background-img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.grid-colors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.color-card {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; */

    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.color-swatch {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}



