<!-- <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="my profile picture" class="profile-picture"> -->


<div class="personal-website">
    <h1>My Personal Website</h1>
    <p>Welcome to my personal website! Here you can find information about me, my projects, and how to contact me.</p>

    <div class="profile-section">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Picture" class="profile-picture">
        <h2>About Me</h2>
        <p>Hello! I'm a web developer with a passion for creating beautiful and functional websites. I love coding and learning new technologies.</p>
    </div>

    <div class="projects-section">
        <h2>My Projects</h2>
        <ul>
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
        </ul>
    </div>

    <div class="contact-section">
        <h2>Contact Me</h2>
        <p>If you'd like to get in touch, feel free to reach out via email or connect with me on social media!</p>
    </div>

    <div class="footer">
        <div class="social-links">
                <a class="social-link" href="#">
                    <ion-icon class="icon" name="logo-facebook"></ion-icon>
                    <p>Facebook</p>
                </a>
                <a class="social-link" href="#">
                    <ion-icon class="icon" name="logo-instagram"></ion-icon>
                    <p>Instagram</p>
                </a>
                <a class="social-link" href="#">
                    <ion-icon class="icon" name="logo-linkedin"></ion-icon>
                    <p>LinkedIn</p>
                </a>
                <a class="social-link" href="#">
                    <ion-icon class="icon" name="logo-twitter"></ion-icon>
                    <p>Twitter</p>
                </a>
            </div>
        <p>&copy; 2023 My Personal Website. All rights reserved.</p>
    </div>
</div>


